<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32038">
		<!-- <setting label="32014" type="sep" visible="false"/>
		<setting id="Email" label="32005" type="text" default="" visible="false"/>
		<setting id="Password" type="text" option = "hidden" label="32006" default="" visible="false"/>
		<setting type="action" label="32008" action="RunScript(service.subtitles.all_subs_plus, 1,action=login)" option="close" visible="false"/> -->
		<setting type="action" label="32003" action="RunScript(service.subtitles.all_subs_plus, 1,action=clean)" visible="false"/>

		<setting label="32013" type="lsep"/>
		<setting id="OSuser2" type="text" label="32011" default=""/>
		<setting id="OSpass2" type="text" label="32012" option = "hidden" default=""/>

		<setting label="אתר Ktuvit" type="lsep"/>
		<setting id="KT_email" type="text" label="32005" default=""/>
		<setting id="KT_enc_pass" type="text" label="32006" option = "hidden" default=""/>
		<setting id="dummy_setting" label="" type="action" action="" visible="false"/>
		<setting label="מאפשר משיכת כתוביות בעיצוב מוגדר מראש" type="lsep"/>
		<setting id="ktcode" label="קוד צימוד (באיזור האישי)" type="text" default="" />
	</category>
	<category label="32039">
		<setting label="32015" type="lsep"/>
		<setting id="wizset" label="Wizdom [COLOR blue](http://wizdom.xyz)[/COLOR]" type="bool" default="true" />
		<setting id="ktuvitset" label="Ktuvit [COLOR blue](https://www.ktuvit.me/)[/COLOR]" type="bool" default="true" />
		<setting id="opensubtitle" label="Opensubtitle [COLOR blue](http://www.opensubtitles.org/he)[/COLOR]" type="bool" default="true" />
		<setting id="subscene" label="subscene [COLOR blue](https://subscene.com/)[/COLOR]" type="bool" default="true" />
		<!-- <setting id="aa_subs" label="aa_subs [COLOR blue](http://aa_subs.com/)[/COLOR]" type="bool" default="false" />
		<setting type="action" label="אפס AA קאש" action="RunScript(service.subtitles.all_subs_plus, 1,action=clear_aa)" option="close" visible="true"/> -->
        <!-- <setting id="subscenter" label="Subscenter [COLOR blue](http://www.subscenter.org)[/COLOR]" type="bool" default="true" visible="false"/> -->
		<!-- <setting id="yify" label="Yify subtitles [COLOR blue](http://www.yifysubtitles.com/)[/COLOR]" type="bool" default="true" /> -->
		<setting id="storage_en" label="תיקייה מקומית" type="bool" default="false" />
		<setting id="storage"  type="folder"   label="בחר תיקיית כתוביות מקומית" default="" visible= "eq(-1,true)"/>
	</category>
	<category label="32040">
		<setting id="English" label="אנגלית" type="bool" default="false" />
		<setting id="arab" label="ערבית" type="bool" default="false" />
		<setting id="spanish" label="ספרדית" type="bool" default="false" />

		<setting label="שפות נוספות" type="lsep"/>
		<setting id="other_lang" label="שפות נוספות" type="text" default="" />
		<setting label="הוסף שפות עם פסיק בניהם לפי תקן " type="lsep"/>
		<setting label="https://en.wikipedia.org/wiki/List_of_ISO_639-2_codes" type="lsep"/>
		<setting id="all_lang" label="חפש בכל השפות" type="bool" default="false" />

		<setting label="32015" type="lsep"/>
		<setting id="auto_translate" label="תירגום מכונה אוטומטי ?" type="bool" default="false" />
	</category>
    <category label="32041">
		<setting id="popup" label="32037" type="bool" default="true" />
		<setting id="nextsub" type="text" option = "hidden" visible= 'false' label="32012" default="no"/>
		<setting id="json_cache" label="שמירת json cache" type="bool" default="false" />
		<setting id="history_log" label="שמירת לוג כתוביות" type="bool" default="false" />
		<setting id="sort_subs" label="סדר כתוביות לפי אחוזים" type="bool" default="true" />
		<setting id="sync_percent" type="number" label="הגדר סנכרון מעל" default="85"/>
		<setting id="Debug" label="Debug" type="bool" default="false" />

		<setting label=" " type="lsep"/>
		<setting id="dummy_setting2" label="" type="action" action="" visible="false"/>
		<setting label="32016" type="lsep"/>
		<setting id="autosub" label="32017" type="bool" default="false" />
		<setting id="force" label="32034" type="bool" default="true" />
		<!-- <setting id="pause" label="32021" type="bool" default="false" /> -->
		<setting id="pause" label="32021" type="enum" lvalues="32044|32045|32046" default="0" />
		<setting id="local_files" label="חפש כתוביות לתוכן מקומי" type="bool" default="false"/>
		<setting id="ExcludeTime" type="number" label="32018" default="15"/>

		<setting id="ExcludeAddosOption" type="bool" label="32019" default="false" />
		<setting id="ExcludeAddos" type="text" source="video" label="32020" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
		<setting id="ExcludeAddosOption2" type="bool" label="32019" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
		<setting id="ExcludeAddos2" type="text" source="video" label="32020" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
		<setting id="ExcludeAddosOption3" type="bool" label="32019" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
		<setting id="ExcludeAddos3" type="text" source="video" label="32020" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
		<setting id="ExcludeAddosOption4" type="bool" label="32019" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
		<setting id="ExcludeAddos4" type="text" source="video" label="32020" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
		<setting id="ExcludeAddosOption5" type="bool" label="32019" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
		<setting id="ExcludeAddos5" type="text" source="video" label="32020" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
		<setting id="ExcludeAddosOption6" type="bool" label="לא הספיק לך? כאן תכניס כמה שאתה רוצה רק עם פסיק בניהם" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
		<setting id="ExcludeAddos6" type="text" source="video" label="אל תכלול הרחבות" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />


    </category>
	<category label="32042">
		<setting label="32022" type="lsep"/>
        <setting id="result_style" label="32043" type="enum" values="4: rating=% + sub=[i,source,sub]|3: rating=source + sub=[i,%,sub]|2: rating=index + sub=[source,%,sub]|1: rating=index + sub=[%,source,sub]|0: rating=rating + sub=[i,%,source,sub]" default="4" />

        <setting id="enable_custom_colors" label="Enable custom result colors" type="bool" default="false" />

        <setting id="color_result_wizdom" label="Wizdom" type="labelenum" values="custom|thistle|cyan|bisque|lightskyblue|yellow|limegreen|white" default="white" visible= "eq(-1,true)" enable="eq(-1,true)"/>
        <setting id="color_result_wizdom_custom" type="text" default="" visible= "eq(-2,true)+ eq(-1,0)" enable="eq(-2,true) + eq(-1,0)" />

        <setting id="color_result_ktuvit" label="Ktuvit" type="labelenum" values="custom|white|thistle|cyan|bisque|lightskyblue|yellow|limegreen" default="limegreen" visible= "eq(-3,true)" enable="eq(-3,true)"/>
        <setting id="color_result_ktuvit_custom" type="text" default="" visible= "eq(-4,true) + eq(-1,0)" enable="eq(-4,true) + eq(-1,0)" />

        <setting id="color_result_opensubs" label="Opensubtitles" type="labelenum" values="custom|limegreen|white|thistle|cyan|bisque|lightskyblue|yellow" default="yellow" visible= "eq(-5,true)" enable="eq(-5,true)"/>
        <setting id="color_result_opensubs_custom" type="text" default="" visible= "eq(-6,true) + eq(-1,0)" enable="eq(-6,true) + eq(-1,0)" />

        <setting id="color_result_subscene" label="Subscene" type="labelenum" values="custom|yellow|limegreen|white|thistle|cyan|bisque|lightskyblue" default="lightskyblue" visible= "eq(-7,true)" enable="eq(-7,true)"/>
        <setting id="color_result_opensubs_custom" type="text" default="" visible= "eq(-8,true) + eq(-1,0)" enable="eq(-8,true) + eq(-1,0)" />

        <setting id="color_result_local" label="local" type="labelenum" values="custom|lightskyblue|yellow|limegreen|white|thistle|cyan|bisque" default="bisque" visible= "eq(-9,true)" enable="eq(-9,true)"/>
        <setting id="color_result_local_custom" type="text" default="" visible= "eq(-10,true) + eq(-1,0)" enable="eq(-10,true) + eq(-1,0)" />

        <!--
        <setting id="color_result_aa_subs" label="aa_subs" type="labelenum" values="custom|bisque|lightskyblue|yellow|limegreen|white|thistle|cyan|" default="thistle" visible= "eq(-11,true)" enable="eq(-11,true)"/>
        <setting id="color_result_aa_subs_custom" type="text" default="" visible= "eq(-12,true) + eq(-1,0)" enable="eq(-12,true) + eq(-1,0)" />

        <setting id="color_result_percent" label="אחוזים" type="labelenum" values="custom|cyan|bisque|lightskyblue|yellow|limegreen|white|thistle" default="cyan" visible= "eq(-13,true)" enable="eq(-13,true)"/>
        <setting id="color_result_percent_custom" type="text" default="" visible= "eq(-14,true) + eq(-1,0)" enable="eq(-14,true) + eq(-1,0)" />

        <setting id="color_result_counter" label="מספור" type="labelenum" values="custom|thistle|cyan|bisque|lightskyblue|yellow|limegreen|white" default="white" visible= "eq(-15,true)" enable="eq(-15,true)"/>
        <setting id="color_result_counter_custom" type="text" default="" visible= "eq(-16,true) + eq(-1,0)" enable="eq(-16,true) + eq(-1,0)" />
        -->

        <setting label="Enabel custom font" type="lsep"/>
        <setting id="enable_font" label="32028" type="bool" default="false" />
        <setting id="background" label="32023" type="bool" default="false" visible= "eq(-1,true)" enable="eq(-1,true)"/>
		<setting id="bold" label="32024" type="bool" default="true" visible= "eq(-2,true)" enable="eq(-2,true)" />
        <setting id="size" type="number" label="32027" default="27" visible= "eq(-3,true)" enable="eq(-3,true)"/>
		<setting id="color" type="enum" label="32025" values="White|Blue|Red|Gray|Yellow" default="0" visible= "eq(-4,true)" enable="eq(-4,true)"/>
		<setting id="background_level" type="enum" label="32026" values="Bright|Gray|Dark" default="0" visible= "eq(-5,true)" enable="eq(-5,true)"/>
	</category>
</settings>
